@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "filter.css";
@import "modal.css";
@import "inputs.css";
@import "pagination.css";


.group{
    display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
  transition: ease 0.5s;
  text-decoration: none;
  color: #161f3e;
}

body {
  background: #eceff8;
}

.container {
  width: 100%;
  max-width: 61%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center{
  text-align: center;
  margin: auto!important;
}

.margin-bottom{
  margin-bottom: 5px;
}
